{% extends "base.html" %}
{% load static %}

{% block title %}Shopping Bag - PaperBack{% endblock title %}

{% block content %}
<div class="container text-center">
    <p class="mx-4 mb-n5"><em>Welcome to</em></p>
    <h1 class="mb-n2 mx-4"><br><span>PaperBack</span></h1>
    <p class="mx-4 mt-2"><strong><em>We're bringing paper back.</em></strong></p>
    <p class="mx-4">
        For the readers of real paper, we've got you covered.
    </p>
    <p class="mx-4">
        Check out our selection of books for sale.
    </p>
</div>
{%endblock%}