@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Nav Bar */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .75);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.reverse-bg {
    color: rgb(255, 255, 255);
}

.bg-dark,
.btn-primary {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-primary:hover {
    background-color: #23474D !important;
    border-color: #23474D !important;
}

.btn-danger {
    background-color: #AA1D2B !important;
    border-color: #AA1D2B !important;
}

.btn-danger:hover {
    background-color: #9D1B28 !important;
    border-color: #9D1B28 !important;
}

.dropdown-item:active,
.reverse-bg {
    background-color: #000000;
}

a,
a:hover,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
.page-link,
.page-link:hover {
    color: #000000;
}

.navbar-brand,
h1 span,
.brand-h1 {
    font-family: 'Caprasimo', cursive;
}

.dropdown-item {
    white-space: normal;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Book image size for books page */
.bk-img-h {
    height: 350px;
}

/* Footer */
#footer-copyright {
    color: #ffffff;
    margin-bottom: 0;
}