{% extends "base.html" %}
{% load static %}

{% block title %}Books - PaperBack{% endblock title %}

{% block content %}
<div class="container mt-2">
    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'books' %}">All Books</a> | </span>
                {% endif %}
                {{ books|length }} Books{% if search_term %} found for <strong>"{{ search_term }}"
                </strong>{% endif %}
            </p>
        </div>
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector"
                    class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to
                        high)
                    </option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                        to
                        low)
                    </option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low
                        to
                        high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating
                        (high
                        to
                        low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        {% for book in books %}
        <div class="col-lg-4 col-md-6 card border-0">
            <div class="card-body pb-0 p-lg-4 text-center">
                {% if book.image %}
                <a href="{% url 'book_detail' book.id %}">
                    <img class="rounded img-fluid bk-img-h border" src="{{ book.image.url }}" alt="{{ book.name }}">
                </a>
                {% else %}
                <a href="{% url 'book_detail' book.id %}">
                    <img class="rounded img-fluid border" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.name }}">
                </a>
                {% endif %}
                <div class="card-body text-center mb-0 pb-0">
                    <a href="{% url 'book_detail' book.id %}">
                        <p class="mb-3">{{ book.name }}</p>
                    </a>
                </div>
                <div class="card-body text-center mt-1 pt-1">
                    <p class="mb-1"><strong>€{{ book.price }}</strong></p>
                    <p class="mb-1">Rating: {{ book.avg_rating }}
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p class="mt-0">Reviews: {{ book.reviews_total }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0">
                    <div class="row">
                        <div class="col">
                            {% if request.user.is_superuser %}
                            <small class="">
                                <a href="{% url 'edit_book' book.id %}">Edit</a> |
                                <a class="text-danger text-right" href="{% url 'delete_book' book.id %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0);
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}