{% extends "base.html" %}
{% load static %}

{% block title %}{{ book.name }} - PaperBack{% endblock title %}

{% block content %}
<div class="container-fluid mt-4 text-center">
    <div class="row no-gutters">
        <div class="col-lg-4 col-md-6 card border-0">
            <div class="card-body pb-0 p-lg-4 text-center">
                {% if book.image %}
                <a href="{{ book.image.url }}" target="_blank">
                    <img class="rounded img-fluid border" src="{{ book.image.url }}" alt="{{ book.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="rounded img-fluid border" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-8 col-md-6 border-0">
            <div class="card-body text-center">
                <h1 class=" text-center">{{ book.name }}</h1>
                {% if authors %}
                {% for author in authors %}
                <a href="{% url 'author' author.id %}">
                    <p class=" text-center">{{ author.name }}</p>
                </a>
                {% endfor %}
                {% endif %}
                {% if request.user.is_superuser %}
                <small>
                    <a href="{% url 'edit_book' book.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_book' book.id %}">Delete</a>
                </small>
                {% endif %}
            </div>
            <p class="text-center">{{ book.avg_rating }} <i class="fa-regular fa-star"></i>
                ({{ book.reviews_total }})
            </p>
            <div class="card-body text-center">{{ book.description }}</div>
            <h2 class="card-title card-body text-center">€{{ book.price }}</h2>
        </div>
    </div>
    <div class="row no-gutters">
        <form class="form card-body d-flex" action="{% url 'add_to_bag' book.id %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                {% with book.has_options as s %}
                {% if s %}
                <div class="col-12 d-flex">
                    <span class="pr-3 my-auto"><strong>Option</strong></span>
                    <select class="form-control rounded w-50 d-inline-flex" name="book_option" id='id_book_option'>
                        <option value="paperback">Paperback</option>
                        <option value="hardback">Hardback</option>
                    </select>
                </div>
                {% endif %}
                <div class="col-9 col-sm-5 col-md-4 col-lg-4">
                    <div class="form-group">
                        <div class="input-group input-group-{{ book.id }} mt-3">
                            <div class="input-group-prepend">
                                <span class="align-middle"><strong>Quantity</strong></span>
                                <button class="decrement-qty btn btn-black rounded decrement-qty_{{ book.id }} pl-2"
                                    data-item_id="{{ book.id }}" aria-label="decrement quantity">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <label for="quantity" class="visually-hidden">Search here</label>
                            <input class="form-control qty_input id_qty_{{ book.id }} rounded" type="number"
                                name="quantity" value="1" min="1" max="99" data-item_id="{{ book.id }}" id="quantity">
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-black rounded increment-qty_{{ book.id }}"
                                    data-item_id="{{ book.id }}" aria-label="increment quantity">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3 text-left">
                    <a href="{% url 'books' %}" class="btn btn-primary mr-1">
                        <span>Keep Shopping</span>
                    </a>
                    <input type="submit" class="btn btn-primary" value="Add to Bag">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                {% endwith %}
            </div>
        </form>
    </div>
</div>
<div class="container-fluid px-0 text-center">
    <div class="reverse-bg">
        <p class="mx-2 mt-4 reverse-bg py-2 mb-2">Reviews</p>
    </div>
</div>
<div class="container-fluid text-center">
    <a href="{% url 'book_review_create' book.pk %}" class="btn btn-primary mt-3">Add Review</a>
    {% for review in reviews %}
    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-body">
                    <p class="mb-2"><strong>{{ review.title }}</strong></p>
                    <p class="mb-2">{{ review.description }}</p>
                    <p><strong>{{ review.get_rating_display }} <i class="fa-regular fa-star"></i></strong></p>
                </div>
                <div class="card-footer row no-gutters">
                    <div class="col text-left">
                        <a class="card-text" href="">{{ review.username }}</a>
                    </div>
                    <div class="col text-right">
                        <p class="card-text text-muted h6">{{ review.just_date_created_on }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if no_reviews %}
    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-body">
                    <p class="mb-0">No reviews for this book yet.</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{%endblock%}

{% block postloadjs %}
{{ block.super }}
{% include 'books/includes/quantity_input_script.html' %}
{% endblock %}