{% extends "base.html" %}
{% load static %}

{% block title %}Contact Us - PaperBack{% endblock title %}

{% block content %}
<div class="container">
    <!-- Contact form -->
    <div class="row">
        <div class="col-12 mb-3">
            <h2 class="mb-3 mt-3">Contact Us</h2>
            <p>Please use the below form to get in touch with any questions. We will reply to
                your message within 24 hours! </p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <form method="POST" action="{% url 'contact' %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}